body {
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.box{
    width: 200px;
    height: 200px;
    background: #747b85;
    animation: flip 2s linear infinite;
}
@keyframes flip {
    0%{
        transform: rotateX(0deg);

    }
    50%{
        transform:rotateX(180deg);
    }

    100%{
        transform:rotateZ(180deg);
    }
}
